*{
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    min-height: 100%;
    margin: 0;
}

.header{
background-color: blue;
padding: 24px;
}

.header__page-title{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
text-align: center;
color: aquamarine;

}

.git-commands{

    margin: 24px;
    display: grid;
    gap: 16px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-template: repeat(6, 1fr)/ 1fr 3fr;
}

.git-commands__command{
    background-color: rgb(186, 129, 240);
    padding: 16px;
    font-size: 2rem;
}

.git-commands__effect{
    background-color: rgb(138, 138, 238);
    padding: 16px;
    font-size: 1.5rem;
}